{% extends 'main/base.html' %}

{% block content %}
{% load static %}
    <div class="Content">
        <form action="{% url 'cats' %}" method="post">
            {% csrf_token %}
            <div class="searchcat">
                <input class="elastic" type="text" id="elastic" name="elastics" oninput="searc(this)" placeholder="Category">
                <button type="submit">Find</button>
            </div>
            <div class="searches">
                <ul class="elastic">
                    {% for cat in cats %}
                    <li onclick="choose(this)" class="hidden">{{cat}}</li>
                    {% endfor %}
                </ul>
            </div>
            
        </form>
        <div class="Events">
            {% for event in Events %}
            <div class="Event-item">
                <div class="Event-item_header">
                    <div class="profile-inf">
                        <a href="{{event.creater.get_absolute_url}}">{{event.creater}}</a>
                        {% if event.creater.logo %}
                        <img src="{{event.creater.logo.url}}" alt="">
                        {% endif %}
                    </div>
                </div>

                <div class="Event-item_content">
                    <div class="item-content">
                        <div class="item-content_inf">
                            <h2>
                                {{event.title}}
                            </h2>
                            <h4>
                                {{event.date}}
                            </h4>
                            <h5>{{event.address}}</h5>
                        </div>
                        <div class="item-content_img">
                            {% if event.logo %}
                            <img src="{{event.logo.url}}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="item-text">
                        <p>{{event.description}}</p>
                    </div>  
                </div>
            </div>
            
        {% endfor %}
        <script src="{% static 'main/js/search.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

        <script>
            var is_selected = false;
            
            
            var token = "138d6a1d498d4b8de187369efd814910b37ee0e9";
            var type  = "ADDRESS";

            var $city   = $("#city");
            $city.suggestions({
                token: token,
                type: type,
                hint: false,
                bounds: "city-settlement",
                onSelect: function(suggestion) {
                    is_selected = true;
                    document.getElementById('find').style.display = 'block';
                }
            });

            function choose(a) {
                document.getElementById('elastic').value = a.innerText;
            }
            

            
        </script>
        </div>

            

        

        


        <!-- <div class="city">
            <form action="{% url 'CityEvents' %}" method="post">
                {% csrf_token %}
                <input type="text" name="city" id="city">
                <button type="submit">Choose</button>
            </form>
        </div> -->
    </div>
    <!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=e1833046-8cde-4c3d-9716-e35f3ad6e223&suggest_api key=9ae8560-1073-4093-85c7-d2de6dd92979."></script> -->
    <!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=SuggestView&onload=onLoad&apikey=e1833046-8cde-4c3d-9716-e35f3ad6e223&suggest_api key=9ae8560-1073-4093-85c7-d2de6dd92979."></script> -->

        <!-- <script>
            function onLoad (ymaps) {
                var suggestView = new ymaps.SuggestView('city', {types: ['locality',] });

                suggestView.events.add('select', function(event) {
                    var selected=event.get('item')
                })
            }



            function split() {
                s = document.querySelector('#city')
                document.querySelector('#city').value = s.value.split(', ')[1]
                
                console.log(s)
            }
        </script> -->
{% endblock %}

<!-- 9ae8560-1073-4093-85c7-d2de6dd92979 -->